@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --background: #000000;
    --red: #ff0a54;
    --white: #fff;
    --very-dark: #1B2430;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    font-family: "Roboto", sans-serif;

}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bgm{
    background-color: var(--very-dark);
    box-shadow: inset 2px 2px 40px var(--very-dark);
    height: 90vh;
    width: 90vw;
    box-shadow: 3px 2px 3px var(--very-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.icons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    width: 15rem;
    
}

h1{
    
    color: var(--white);
}

i{
    color: var(--white);

}

span{
    background-color: var(--red);
}